
@using System.Net.WebSockets
@model List<RedisDemo.UI.Models.Entities.Province>

<table>
	<tbody></tbody>
	<thead>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Name</td>
			</tr>
		}
	</thead>
</table>